.App {
  text-align: center;
}

.App-header {
  background-color: #006400;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}

.App-footer {
  background-color: #006400;
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  margin-top: 10px;
}

.App-footer > .add-button {
  background-color: #006400;
  border-color: #006400;
  color: white;
  font-size: x-large;
  -webkit-transition: background 5s;
  transition: backgroup 5s;
}

.App-footer > .add-button:hover {
  background-color: white;
  border-color: white;
  color: #006400;
  font-size: x-large;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.App-footer > .info-button {
  background-color: #006400;
  border-color: #006400;
  color: white;
  font-size: x-large;
  -webkit-transition: background 5s;
  transition: backgroup 5s;
}

.App-footer > .info-button:hover {
  background-color: white;
  border-color: white;
  color: #006400;
  font-size: x-large;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.header-text {
  font-family: saxmonoregular;
}

.profile-images {
  border-radius: 25%;
  vertical-align: baseline;
}

@media (min-width: 756px) {
  .App-header {
    height: 4em;
  }
  .header-text {
    font-size: xx-large;
    margin-left: 5px;
  }
}

@media (max-width: 755px) {
  .App-header {
    height: 5em;
  }
  .header-text {
    font-size: x-large;
    margin-left: 5px;
  }
}

@media (max-width: 404px) {
  .App-header {
    height: 5.2em;
  }
  .profile-images {
    height: 30%;
    width: 30%;
  }
}

.user-card {
  padding: 5px;
  /*border: solid 2px black;*/
  /*border-radius: 25px;*/
  margin-bottom: 10px;
  text-align: left;
  background-color: #ddd;
  min-height: 150px;
}

.user-card > a > img {
  position: relative;
  float: left;
}

.user-card-name {
  font-weight: bold;
  position: relative;
  top: -20px;
  margin-left: 5px;
}

.user-card-interests {
  font-style: italic;
  margin-left: 5px;
  position: relative;
  top: -20px;
}

.user-card-setup {
  margin-left: 5px;
  position: relative;
  top: -20px;
}

.user-card-availability {
  margin-left: 5px;
  position: relative;
  top: -20px;
}

.user-card > form > .circle-button {
  /*border-radius: 50%;*/
  position: absolute;
  margin: 0 auto;
  bottom: 15px;
}

.modal-submit {
  margin-top: 5px;
  }