.App {
  text-align: center;
}

.App-header {
  background-color: #006400;
  height: 90px;
  padding: 5px;
  color: white;
}

.fcc-logo {
  max-height: 40px;
  vertical-align: -10px;
}

.header-text {
  font-family: monospace;
  font-size: xx-large;
  margin-left: 5px;
}

.profile-images {
  border-radius: 25%;
}